html {
  font-size: 16px;
}

body {
  background-color: #d3d3d3;
}


h1 {
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 1.25em;
}

h3 {
  font-family: 'Wellfleet', cursive;
  font-weight: 700;
  font-size: 3em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

span {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  height: 64px;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.top {
  display: flex;
  padding: 0px 24px;
  width: 100%;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.top h1 {
  margin: auto 0;
}

span.navigation {
  color: #000;
  padding-right: 24px;
}




nav span a {
  padding-right: 16px;
  font-family: 'Bitter', serif;
  color: #242424;
  text-decoration: none;
}

nav span a:hover {
  color: #14cccc;
}


.main-container span {
  color: #fff;
}

.banner {
    padding: 32px 24px;
    display: flex;
    width: 100%;
}

.banner img {
  width: 60%;

}

.image-container {
  max-width: 100%;
  height: auto;
  display: block;
}

.get-started {
  position: relative;
  margin: auto 0px;
}

.get-started h3 {
  padding-bottom: 30px;
  color: #fff;
}

.get-started h4 {
  padding-bottom: 50px;
  color: #fff;
}

.get-started span {
  color: #242424;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 8px 120px;
}

.practicing {
  background-color: #f0ffff;
  padding: 32px 24px 0px 24px;
  display: flex;
}

.practicing img {
  width: 60%;
  height: auto;
  display: block;
  margin-bottom: 32px;
}

.practicing h3 {
  padding-bottom: 24px;
}

.practicing p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

.practicing span {
  color: #242424;
}

.side-bar {
  background: #fff;
  width: 423px;
  float: right;
  border-left: 1px solid #242424;
}

.learning {
  padding-top:
  margin: 32px 0px;
}

.thesis {
  margin: 32px 0px;
  background-color: white;
}
