html {
  font-size: 16px;
}

header {
  height: 64px;
  background-color: white;
  padding: 0px 24px;
  display: flex;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 1.25em;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

nav span a {
  padding-right: 16px;
  font-family: 'Bitter', serif;
  color: #242424;
  text-decoration: none;
}

nav span a:hover {
  color: #14cccc;
}



.main-container {
  background-color: #242424;
  padding-left: 24px;
}

.main-container span {
  color: #fff;
}

.banner {
  margin: 32px 0px;
}

.practicing {
  margin: 32px 0px;
  background-color: white;
}

.learning {
  margin: 32px 0px;
}

.thesis {
  margin: 32px 0px;
  background-color: white;
}
